@use "../abstracts" as *;

// ? Custom Properties
:root {
  // ? Colors
  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;

  --color-black: rgb(var(--rgb-black));
  --color-white: rgb(var(--rgb-white));

  --color-grey: #5e5e5e;
  --color-light-grey: #e5e5e5;
  --color-scrollbar: #c5c5c5;
  --color-blue: #e9f6f6;
  --color-placeholder: #a5a5a5;

  --linkedin-blue: #0072b1;
  --whatsapp-green: #25d366;
  --github-black: #211f1f;
  --twitter-blue: #1da1f2;
  --behance-blue: #1769ff;

  &.dark-mode {
    --rgb-white: 0, 0, 0;
    --rgb-black: 255, 255, 255;
    --color-placeholder: #5a5a5a;
    --color-scrollbar: var(--color-grey);
  }

  // ? Fonts
  --fz-1: 1.4rem;
  --fz-2: 1.6rem;
  --fz-3: 2rem;
  --fz-4: 2.8rem;
  --fz-5: 6rem;
  --fz-6: 12rem;
  --fw-regular: 400;
  --fw-semibold: 600;

  // ? Spacing
  --m-1: 0.5rem;
  --m-2: 1rem;
  --m-3: 2rem;
  --m-4: 4rem;
  --m-5: 8rem;
  --m-6: 12rem;
  --m-7: 24rem;
  --p-1: 0.5rem;
  --p-2: 1rem;
  --p-3: 2rem;
  --p-4: 4rem;
  --p-5: 8rem;
  --p-6: 12rem;
  --p-7: 24rem;

  // ? Layout
  --container-max-width: 114rem;

  // ? Easing
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

// ? Root Font Size
html {
  font-size: 50%;

  @include respond("tablet") {
    font-size: 56.25%;
  }

  @include respond("laptop") {
    font-size: 62.5%;
  }

  &.is-transitioning {
    pointer-events: none;
    cursor: progress;
  }
}

// ? Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-white);
  overflow-x: hidden;
  position: relative;
}

ul,
ol {
  list-style: none;
}

::selection {
  background: var(--color-black);
  color: var(--color-white);
}
