@use "../abstracts" as *;

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;

  @media only screen and (hover: "hover") and (pointer: "fine") {
    width: 0;
  }
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border: 3px solid transparent;
  // background: var(--color-scrollbar);
  background: transparent;
  border-radius: 10px;
  background-clip: content-box;

  &:hover {
    border-width: 2px;
  }
}

.scrollbar-track.is-custom {
  background: rgba(0, 0, 0, 0);
  width: 10px;
}

.scrollbar-thumb.is-custom {
  background: rgba(var(--rgb-black), 0.375);
  width: 6px;
}
