html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Acari Sans";
  src: url("../assets/fonts/AcariSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Acari Sans";
  src: url("../assets/fonts/AcariSans-SemiBold.woff") format("woff");
  font-weight: 600;
}

body {
  font-family: "Acari Sans", sans-serif;
  font-size: var(--fz-2);
  color: var(--color-black);
}

.heading {
  font-weight: var(--fw-semibold);

  & .split-text {
    // display: block;
  }

  &--display {
    font-size: var(--fz-6);
    line-height: 1;
  }

  &--1 {
    font-size: var(--fz-5);
  }

  &--2 {
    font-size: var(--fz-4);
  }

  &--3 {
    font-size: var(--fz-3);
  }

  &--4 {
    font-size: var(--fz-2);
  }

  &--upper,
  &--display {
    text-transform: uppercase;
  }
}

.text {
  &--1 {
    font-size: var(--fz-1);
  }
  &--2 {
    font-size: var(--fz-2);
  }
  &--3 {
    font-size: var(--fz-3);
  }
  &--4 {
    font-size: var(--fz-4);
  }
}

.designer,
.developer {
  position: absolute;
}

.designer {
  bottom: 7rem;
  // left: 15rem;
}

.developer {
  bottom: -2.15rem;
  left: -2.5rem;

  & span {
    font-size: 10rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-black);
  }
}
