@use "../abstracts/" as *;

@font-face {
  font-family: "Acari Sans";
  src: url("../assets/fonts/AcariSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Acari Sans";
  src: url("../assets/fonts/AcariSans-SemiBold.woff") format("woff");
  font-weight: 600;
}

body {
  font-family: "Acari Sans", sans-serif;
  font-size: var(--fz-2);
  color: var(--color-black);
}

.heading {
  font-weight: var(--fw-semibold);

  & .split-text {
    // display: block;
  }

  &--display {
    font-size: 11vw;
  }

  &--1 {
    font-size: var(--fz-5);
  }

  &--2 {
    font-size: var(--fz-4);
  }

  &--3 {
    font-size: var(--fz-3);
  }

  &--4 {
    font-size: var(--fz-2);
  }

  &--upper,
  &--display {
    text-transform: uppercase;
  }

  &--regular {
    font-weight: var(--fw-regular);
  }
}

.text {
  &--1 {
    font-size: var(--fz-1);
  }
  &--2 {
    font-size: var(--fz-2);
  }
  &--3 {
    font-size: var(--fz-3);
    line-height: 3rem;
  }
  &--4 {
    font-size: var(--fz-4);
    line-height: 4rem;
  }

  &--sb {
    font-weight: var(--fw-semibold);
  }

  &--grey {
    color: var(--color-grey);
  }

  &--regular {
    font-weight: var(--fw-regular);
  }

  &--aligned {
    display: inline-flex;
    align-items: baseline;

    & span {
      margin-right: 0.5rem;
    }
  }
}

.designer,
.developer {
  position: absolute;
  // line-height: 0;
}

.designer {
  bottom: 5vw;
}

.developer {
  bottom: -3vw;
  left: -2vw;

  display: flex;
  align-items: baseline;

  & span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 9vw;
    margin-right: 1rem;
    font-size: 8vw;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-black);
    margin-right: 1rem;

    @include respond("tablet") {
      margin-right: 2rem;
    }
  }
}
