// ? Margins
.u-mb-1 {
  margin-bottom: var(--m-1);
}
.u-mb-2 {
  margin-bottom: var(--m-2);
}
.u-mb-3 {
  margin-bottom: var(--m-3);
}
.u-mb-4 {
  margin-bottom: var(--m-4);
}
.u-mb-5 {
  margin-bottom: var(--m-5);
}
.u-mb-6 {
  margin-bottom: var(--m-6);
}
.u-mb-7 {
  margin-bottom: var(--m-7);
}
.u-mt-1 {
  margin-top: var(--m-1);
}
.u-mt-2 {
  margin-top: var(--m-2);
}
.u-mt-3 {
  margin-top: var(--m-3);
}
.u-mt-4 {
  margin-top: var(--m-4);
}
.u-mt-5 {
  margin-top: var(--m-5);
}
.u-mt-6 {
  margin-top: var(--m-6);
}
.u-mt-7 {
  margin-top: var(--m-7);
}

// ? Alignment
.u-text-center {
  text-align: center;
}
