// ? FONTS
$text-size-default: 1.6rem;
$text-size-xs: 1rem;
$text-size-sm: 1.4rem;
$text-size-md: 1.8rem;
$text-size-lg: 2.4rem;

$heading-size-sm: 1.8rem;
$heading-size-md: 2.4rem;
$heading-size-lg: 3.2rem;
$heading-size-xl: 4.8rem;
