// ? MEASUREMENTS
$grid-row-width: 110rem;
$grid-gutter-vertical-sm: 2rem;
$grid-gutter-vertical-md: 4rem;
$grid-gutter-vertical-lg: 6rem;
$grid-gutter-vertical-xl: 8rem;
$grid-gutter-horizontal-sm: 2rem;
$grid-gutter-horizontal-md: 4rem;
$grid-gutter-horizontal-lg: 6rem;
$grid-gutter-horizontal-xl: 8rem;

// ? MARGINS
$m-xs: 1rem;
$m-sm: 2rem;
$m-md: 4rem;
$m-lg: 6rem;
$m-xl: 8rem;

// ? PADDINGS
$p-sm: 2rem;
$p-md: 4rem;
$p-lg: 6rem;
$p-xl: 8rem;
