@use "../abstracts/" as *;

.not-found {
  &__img-container {
    width: 100%;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;

    @include respond("laptop") {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;

    & > * {
      margin-bottom: 2rem;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
}

:root {
  &.dark-mode {
    & .not-found__img {
      filter: invert(1);
    }
  }
}
