@use "../abstracts/" as *;

.case-study {
  &__visual-design {
    & .row {
      margin-bottom: var(--m-4);

      @include respond("laptop") {
        margin-bottom: var(--m-5);
      }
    }
  }

  &__project-highlights {
    & .row {
      margin-bottom: var(--m-4);

      @include respond("laptop") {
        margin-bottom: var(--m-5);
      }

      &:not(:first-of-type) {
        & [class*="col-lg-4"] {
          margin-top: 0;

          @include respond("laptop") {
            margin-top: var(--m-5);
          }
        }
      }
    }
  }
}

.project-images {
  [class^="col"] {
    flex-basis: 100%;

    @include respond("laptop") {
      flex-basis: 47%;
    }
  }

  &__list {
    display: flex;
    flex-flow: column;

    &--right {
      margin-top: var(--m-4);

      @include respond("laptop") {
        margin-top: var(--m-7);
      }
    }

    & > * {
      &:not(:last-of-type) {
        margin-bottom: var(--m-4);
      }
    }
  }
}
