.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    background: var(--color-black);
    font-size: var(--fz-2);
    color: var(--color-white);
    font-weight: var(--fw-semibold);
    padding: 1.5rem 4rem;
  }
}
