.loader {
  &__transition {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 105;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--rgb-white), 0.75);
    pointer-events: none;
  }
}
