@use "../abstracts" as *;

.page-hints {
  position: absolute;
  top: var(--m-5);
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 8rem;

  @include respond("tablet") {
    padding: 0 6rem 0 9rem;
  }

  &__home {
    position: relative;
    border-bottom: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-bottom-left-radius: 100rem;
    width: 5rem;
    height: 5rem;

    &::before {
      content: "\203A";
      display: inline-block;
      position: absolute;
      top: 1px;
      left: -7px;
      font-size: 4rem;
      line-height: 0;
      transform: rotate(-90deg);

      @include respond("laptop") {
        top: 1px;
        left: -9px;
      }
    }

    &::after {
      content: "Home Page";
      display: inline-block;
      position: absolute;
      bottom: -10px;
      right: -9rem;
      font-size: var(--fz-2);
    }
  }

  &__menu {
    position: relative;
    border-bottom: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom-right-radius: 100rem;
    width: 5rem;
    height: 5rem;

    &::before {
      content: "\203A";
      display: inline-block;
      position: absolute;
      top: 1px;
      right: -4px;
      font-size: 4rem;
      line-height: 0;
      transform: rotate(-90deg);

      @include respond("tablet") {
        right: -6px;
      }

      @include respond("laptop") {
        right: -5px;
      }
    }

    &::after {
      content: "Menu";
      display: inline-block;
      position: absolute;
      bottom: -10px;
      left: -5rem;
      font-size: var(--fz-2);
    }
  }
}
