@use "../abstracts/" as *;

.project {
  &--featured {
    &:not(:last-of-type) {
      margin-bottom: var(--m-4);
    }

    @include respond("laptop") {
      min-height: 100vh;
    }
  }

  &__details {
  }

  &__image-container {
    &--featured,
    &--regular {
      height: 75vh;
    }

    &--featured {
      display: flex;
      justify-content: center;
    }

    &--full {
      // min-height: 100vh;
    }
  }

  &__image-link {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
