.quote {
  & .citation {
    display: flex;
    align-items: center;

    &__image-container {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: var(--m-3);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: relative;
    z-index: 1;

    &::before {
      // content: "\201C";
      content: "\201C";
      display: inline-block;
      position: absolute;
      left: -5rem;
      top: 5.5rem;
      z-index: -1;
      font-family: "Acari Sans", sans-serif;
      font-weight: var(--fw-semibold);
      font-size: 25rem;
      color: var(--color-black);
      opacity: 0.075;
    }
  }
}
