@use "../abstracts/" as *;

.footer {
  padding: var(--p-4) 0;

  [class^="col-"] {
    &:first-of-type {
      margin-bottom: var(--m-4);

      @include respond("laptop") {
        margin-bottom: 0;
      }
    }
  }

  @include respond("laptop") {
    padding: var(--p-6) 0;
  }

  &__contact {
  }

  &__connect {
  }
}
