@use "../abstracts/" as *;

.hero {
  // padding-top: var(--p-6);
  padding-top: calc(var(--p-6) + 6rem);

  @include respond("tablet") {
    padding-top: calc(var(--p-6) + 4rem);
  }

  @include respond("laptop") {
    padding-top: calc(var(--p-6) + 6rem);
  }
}

.hero--home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  margin-bottom: 0; // Reset margin bottom
  padding: 0; // Reset padding top
}

.hero.hero--small {
  margin-bottom: var(--m-5);

  @include respond("laptop") {
    margin-bottom: var(--m-2);
  }
}

.hero__scroll-down {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down__icon {
  width: 4rem;
  height: 4rem;
  color: var(--color-black);
  animation: floatAnim 2.5s var(--easing) infinite;
}
