@use "../abstracts/" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 3rem 4rem 0;
  z-index: 99;

  &__logo,
  &__item {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 4rem;
    }
  }

  &__link {
    &.menu-open {
      &:link,
      &:visited {
        @include respond("laptop") {
          color: var(--color-white);
        }
      }
    }
  }

  &__menu {
    cursor: pointer;

    &-icon {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 4rem;
    }

    &-bar {
      background: var(--color-black);
      width: 4rem;
      height: 2px;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
  }
}
