@use "../abstracts/" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 3rem 3rem 0;

  @include respond("tablet") {
    padding: 3rem 4rem 0;
  }

  &__logo,
  &__item {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    position: relative;
    // list-style: none;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 4rem;
    }

    &--theme {
      position: absolute;
      right: var(--m-4);
      min-width: max-content;
      transition: all 0.5s var(--easing);
    }
  }

  &__link {
    &--blessed,
    &--theme {
      &:link,
      &:visited {
        transition: all 0.5s var(--easing);
      }
    }
  }

  &__menu {
    cursor: pointer;

    &-icon {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 4rem;
    }

    &-bar {
      background: var(--color-black);
      width: 4rem;
      height: 2px;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
  }
}
